<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TesteBack2017.Properties.Settings.plConnectionString"
            connectionString="Data Source=pedrolssilva.database.windows.net;Initial Catalog=pl;Persist Security Info=True;User ID=pedrolssilva;Password=123Mudar"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>